.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    // padding: 200px;
  }
  
  .text-zone {
    flex: 1;
    max-width: 600px;
    height: 300px; 
  }
  
  .img-me {
   position: relative;
   top: 30%;
   left: 60%;
  }
  

.max {
  max-width: 533px;
}

.container.about-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px; // Ajusta según tus necesidades

  .text-zone {
    max-width: 60%; // Ajusta según tus necesidades
  }

  .img-me {
    max-width: 40%; // Ajusta según tus necesidades
  }
}

@media screen and (max-width: 600px) {
  .img-me {
    display: none;
  }

  .about-page {
    position: absolute;
    left: 153px;
    display: flex;
    h1 {
      display: flex;
      align-items: center; /* Centra verticalmente el contenido si es necesario */
      white-space: nowrap;
      position: absolute;
      left: -33px;
    }
    .text-zone {
      display: block;

    }
  }
}
@media screen and (max-width: 1210px) {
  .img-me {
   

    .max {
     width: 383px;
     height: 473px;
     position: absolute;
     margin-right: 33px;
     left: -88px;
     top: -60px;
     
   }
  }



  .about-page {
    position: absolute;
    left: 153px;
    display: flex;
    h1 {
      display: flex;
      align-items: center; /* Centra verticalmente el contenido si es necesario */
      white-space: nowrap;
      position: absolute;
      left: -33px;
    }
    .text-zone {
      display: block;

    }
  }
}

