.link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}

// .max {
//     max-width: 60vh;
//     max-height: 60vh;
//     height: auto; /* Permite que la altura se ajuste automáticamente */
//   margin: 0 auto; /* Centra horizontalmente */
//   display: block;
// }

.content {
  left: 20%;
  top: 20%;
  position: absolute;
  max-width: 500px;
  max-height: 500px;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.slider {
  max-width: 100%;
  text-align: center;
}

.slider img {
  max-width: 100%;
  height: auto;
}

.explain {
  font-size: 20px;
  left: 60%;
  position: absolute;
  top: 20%;
  left: 50%;
  color: white;
  margin-right: 50px;
}

.flat-buttom {
  color: #ffd700;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 4px;
  font-family: sans-serif;
  text-decoration: none;
  padding: 10px 18px;
  border: 1px solid #ffd700;
  margin-top: 25px;
  float: left;
  animation: fadeIn 1s 1.8s backwards;
  white-space: nowrap;
  transition: background 0.3s ease, color 0.3s ease;
  &:hover {
    background: #ffd700;
    color: #333;
  }
}

p {
  font-size: 18px;
  color: #fff;
  font-family: sans-serif;
  min-width: fit-content;
  animation: pulse 1s;
  line-height: 1.3;

  &:nth-of-type(1) {
    animation-delay: 1.1s;
  }
  &:nth-of-type(2) {
    animation-delay: 1.2s;
  }
  &:nth-of-type(3) {
    animation-delay: 1.3s;
  }
}

@media screen and (max-width: 844px) {
  .explain {
    display: none;
  }

  .content {
    margin-left: 51px;
    position: absolute;
  }
  .flat-buttom {
    color: #ffd700;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #ffd700;
    margin-top: 25px;
    float: left;
    margin-left: 40px;
    animation: fadeIn 1s 1.8s backwards;
    white-space: nowrap;
    transition: background 0.3s ease, color 0.3s ease;
    &:hover {
      background: #ffd700;
      color: #333;
    }
  }
}

@media screen and (max-width: 644px) {
  .proyect-container {
    width: 30px;
  }

  .content {
    height: 30px;
    width: 250px;
    margin-left: 51px;
    position: absolute;
  }
}

@media screen and (min-width: 1200px) {
    .content {
        height: 220px;
        width: 650px;
        margin-left: -111px;
        position: absolute;
      }
   
}
