.nav-bar{
    background: #181818;
    width: 120px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    min-height: 500px;
    

    .logo {
        display: block;
        // padding: 8px 0;


        img {
            display: block;
            // margin: 8px 0;
            width: 120px;
            height: auto;

            &.sub-logo {
                width: 120px;
            }
        }
    }
}