@import'/src/base/variables';


.home-page {
  .text-home {
    font-size: 77px; 
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;

    &:hover::before {
      color: lighten($color: #ffd700, $amount: 60);
    }
  }
  h1 {
    color: #fff;
    font-size: 53px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;

    &:hover::before {
      color: lighten($color: #ffd700, $amount: 60);
    }

    &::before {
      content: '<h1>';
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: #ffd700;
      font-size: 18px;
      position: absolute;
      margin-top: -40px;
      left: 15px;
      opacity: 0.6;
      transition: color 0.3s ease;
    }

    &::after {
      content: '<h2>';
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: #ffd700;
      font-size: 18px;
      position: absolute;
      margin-top: 18px;
      margin-left: 290px;
      animation: fadeIn 1s 1.7s backwards;
      opacity: 0.6;
    }

    img {
      width: 32px;
      height: auto;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
      height: 144px;
      width: 114px;
    }
  }

  h2 {
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 100;
    font-size: 11px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
  }

  .flat-buttom {
    color: #ffd700;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #ffd700;
    margin-top: 25px;
    float: left;
    animation: fadeIn 1s 1.8s backwards;
    white-space: nowrap;

  
    border-radius: 2px;

    &:hover {
      background: #ffd700;
      color: #333;
      background: linear-gradient(to left, #ffd90006, #ffd900fa);
      background-size: 200% 50%; 
      transition: background-position 2s ease, color 2s ease; 
      border-right-color: #333;
      
    }
  }
}

.stage-cube-cont {
  width: 50%;
  height: 100%;
  top: -100px;
  padding-top: 18%;
  margin-left: 0;
  position: absolute;
  right: 0;
  overflow: hidden;
}

.cubespinner {
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  transform-style: preserve-3d;
  transform-origin: 130px 130px 0;
  margin-left: calc(50% - 100px);

  div {
    position: absolute;
    width: 337px;
    height: 337px;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.4);
    text-align: center;
    font-size: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 0px lightyellow;
  }

  .face1 {
    transform: translateZ(170px);
    color: #dd0031;
  }
  .face2 {
    transform: rotateY(90deg) translateZ(170px);
    color: #f06529;
  }
  .face3 {
    transform: rotateY(90deg) rotateX(90deg) translateZ(170px);
    color: #28a4d9;
  }
  .face4 {
    transform: rotateY(180deg) rotateZ(90deg) translateZ(170px);
    color: #5ed4f4;
  }
  .face5 {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(170px);
    color: #efd81d;
  }
  .face6 {
    transform: rotateX(-90deg) translateZ(170px);
    color: #ec4d28;
  }
}

@keyframes spincube {
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  33% {
    transform: rotateY(-90deg) rotateX(90deg);
  }
  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    transform: rotateY(-270deg) rotateX(90deg);
  }
  83% {
    transform: rotateX(90deg);
  }
}














/////mq for the tlf

@media screen and (max-width: $mobile) {

  
  .stage-cube-cont {
    width: 110%;
    height: 100%;
    top: +400px;
    left: 10px;
    margin-left: 0;
    position: absolute;
    z-index: -1;
  }

  .home-page {
    .text-home {
      font-size: 37px; 
      margin: 0;
      font-family: 'Coolvetica';
      font-weight: 400;
      left: 122px;
      top: -82px;

      &:hover::before {
        color: lighten($color: #ffd700, $amount: 60);
      }
    }
    .text-zone {
      left: +135px;
      top: +5%;
      font-size: 50px;
      
    }
  }
  .text-full {
    position: absolute;
    top: -102px;
    margin-left: 200px;
  }
}





// getting the 390\844 this is the one is work 
 @media  (max-width:700px) {
  .home-page {
    h1  {
      position: relative;
      left: -10px;
      width: 240px;
     
    }

    h2 {
      position: relative;
      left: 10px;
     

    }
    .flat-buttom {
      position: absolute;
      left: 22px;
      top: 210%;
    }

    .container {
      width: 230px;
    }
  }
  .cubespinner {
    animation-name: spincube;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    transform-style: preserve-3d;
    transform-origin: 65px 65px 0; /* Ajusta el punto de origen de la transformación */
    margin-left: calc(50% - 50px);
  
    div {
      position: absolute;
      width: 168px; /* Ajusta el ancho */
      height: 168px; /* Ajusta la altura */
      border: 1px solid #ccc;
      background: rgba(255, 255, 255, 0.4);
      text-align: center;
      font-size: 60px; /* Ajusta el tamaño de la fuente */
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 10px 0px lightyellow; /* Ajusta la sombra */
    }
  
    .face1 {
      transform: translateZ(85px); /* Ajusta la profundidad */
      color: #dd0031;
    }
    .face2 {
      transform: rotateY(90deg) translateZ(85px);
      color: #f06529;
    }
    .face3 {
      transform: rotateY(90deg) rotateX(90deg) translateZ(85px);
      color: #28a4d9;
    }
    .face4 {
      transform: rotateY(180deg) rotateZ(90deg) translateZ(85px);
      color: #5ed4f4;
    }
    .face5 {
      transform: rotateY(-90deg) rotateZ(90deg) translateZ(85px);
      color: #efd81d;
    }
    .face6 {
      transform: rotateX(-90deg) translateZ(85px);
      color: #ec4d28;
    }
  }
  
 }




