@mixin boton() {
  color: #ffd700;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 4px;
  font-family: sans-serif;
  text-decoration: none;
  padding: 10px 18px;
  border: 1px solid #ffd700;
  margin-top: 25px;
  float: left;
  animation: fadeIn 1s 1.8s backwards;
  white-space: nowrap;
  border-radius: 2px;
  background-color: #022c43 ;
  cursor: pointer;

  &:hover {
    background: #ffd700;
    color: #333;
    background: linear-gradient(to left, #ffd90006, #ffd900fa);
    background-size: 200% 50%; 
    transition: background-position 2s ease, color 2s ease; 
    border-right-color: #333;
    
  }
}


